<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Anthony Scheeres</h1>

        <br>

        <div class="social-icons">
          <a class="social-icon" href="https://www.linkedin.com/in/anthonyscheeres/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a class="social-icon" href="https://github.com/anthonyscheeres" target="_blank"><i class="fab fa-github"></i></a>


        </div>


        <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <h2 class="text-white-75 font-weight-light mb-5">Full-stack developer</h2>

        <h3>
          C# (ASP .NET) | Java (Spring, Jersey) | Javascript (Angular, React, Vue) | SQL (Postgres, MySql)
        </h3>

      </div>
    </div>
  </div>
</header>
