
<div class="header-firstnav sticky-top">





  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" role="navigation">
    

    <nav class="navbar">
      <a routerLink="/home">Home</a>

      <a routerLink="/portfolio">Portfolio</a>

      <div class="d-none d-md-block">
        <a *ngIf="isLoggedIn" routerLink="/profile">Profiel</a>
        <a *ngIf="isLoggedIn==false" class="glyphicon glyphicon-log-in" routerLink="/login"> Login</a>
        <a *ngIf="isLoggedIn==false" class="glyphicon glyphicon-user" routerLink="/register"> Register</a>
        <a href="../assets/CV.pdf">CV</a>
      </div>


      <a style="float:right" routerLink="/contact">Contact</a>
      <div class="d-none d-md-block">
        <a *ngIf="isLoggedIn" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a>

        </div>
    </nav>

  </nav>
</div>
