
  
    <article class="articlemiddle">
      <div class="fff">
        <h3>Portfolio</h3>

        <hr>

        <br>

        <div class="row">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5 project-text">
            <div class="portfolio-item mx-auto">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>



              </div>
              <a href="assets/img/portfolio/Webshop.png" target="_blank">

                <img class="img-fluid" src="assets/img/portfolio/Webshop.png" alt="" />
              </a>
              <h4> Webshop applicatie</h4>


              <a href="https://github.com/anthonyscheeres/iprwcClient/tree/master/src/app" target="_blank">Source <span class="glyphicon glyphicon-log-out"></span></a>
              <hr class="d-none d-lg-block mb-0 ml-0">

            </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5 project-text">
            <div class="portfolio-item mx-auto">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
              </div>
              <a href="assets/img/portfolio/testlab.png" target="_blank">
                <img class="img-fluid" src="assets/img/portfolio/testlab.png" alt="" />
              </a>
              <h4> Testlab Openbaar Ministerie applicatie</h4>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5 project-text">
            <div class="portfolio-item mx-auto">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
              </div>

              <a href="assets/img/portfolio/bedAndBreakFast.png" target="_blank">

                <img class="img-fluid" src="assets/img/portfolio/bedAndBreakFast.png" alt="" />
              </a>
              <h4>Bed & Breakfast applicatie</h4> <a href="http://lechantemerle.nl" target="_blank">Hier <span class="glyphicon glyphicon-log-out"></span> </a>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
          <!-- Portfolio Item 4-->
          <div class="col-md-6 col-lg-4 mb-5 project-text">
            <div class="portfolio-item mx-auto">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
              </div>

              <a href="assets/img/portfolio/firstContact.png" target="_blank">

                <img class="img-fluid" src="assets/img/portfolio/firstContact.png" alt="" />
              </a>
              <h4>CKM first contact applicatie</h4> 
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>

        </div>

      </div>

    </article>
