


<app-header></app-header>

<br>



<section class="page-section">




  <article class="text-center">
    <h1 class="text-center mt-0">Profiel:</h1>
    <hr class="divider my-4" />
    <p>
      Bouwen aan projecten, doe ik al voor werk en als hobby. Mijn interesse ligt in high end talen. Waar  ik snel mijn resultaten prijs kan geven.
    </p>

    <p>
      Ik ben vaardig als full stack developer en ben geïnteresseerd mij continue nieuwe talen aan te leren. Ik vind het leuk om samen met andere mensen aan een doel te werken, waar wij echt een verschil kunnen maken. Zo kan ik helpen om de nieuwste markten binnen de computerwereld te veroveren.
    </p>

  </article>


</section>


<br>



<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Opzoek naar een developer voor uw team?</h2>
    <a class="btn btn-light btn-xl" href="../assets/CV.pdf" target="_blank">Download mijn CV nu!</a>
  </div>
</section>


<br>
<app-services-information></app-services-information>

