


<app-header></app-header>

<br>


<section class="page-section">



 
  <article class="articlemiddle text-center">
    <h1 class="text-center mt-0">Profiel:</h1>
    <hr class="divider my-4" />

    <div style="text-align: left; margin: auto; width:70%;">

      <p>
      Mijn naam is Anthony Scheeres, en ik ben een programmeur die heeft gestudeerd aan de Hogeschool in Leiden. Ik heb ervaring met verschillende programmeertalen en technologieën en heb gewerkt als full-stack developer voor verschillende bedrijven. Ik wil mij graag specialiseren als backend developer.
    </p>
    <p>
      Tijdens mijn studie heb ik veel geleerd over softwareontwikkeling en de principes achter het ontwerpen en bouwen van efficiënte, betrouwbare en schaalbare backend-systemen. Ik heb ervaring met verschillende tools en frameworks, waaronder Node.js, ASP .NET en Laravel. Ik heb ook ervaring met het opzetten van API's en het integreren van verschillende diensten en systemen.
    </p>
    <p>
      Als backend developer wil ik graag werken aan het ontwerpen en ontwikkelen van robuuste en veilige backend-systemen die aan de hoogste standaarden voldoen. Ik ben zeer gemotiveerd om mijn kennis en vaardigheden te blijven ontwikkelen en te leren van ervaren collega's.
    </p>
    <p>
      Als u meer wilt weten over mijn achtergrond en ervaring, kunt u mijn profiel bekijken op LinkedIn via de volgende link: https://www.linkedin.com/in/anthonyscheeres. Aarzel niet om contact met mij op te nemen als u vragen heeft of als u geïnteresseerd bent in mijn diensten als backend developer.
 </p>
</div>

  </article>




</section>




<app-services-information></app-services-information>


<br>


<app-portefolio></app-portefolio>

<br>

<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Opzoek naar een developer voor uw team?</h2>
    <a class="btn btn-light btn-xl" href="../assets/CV.pdf" target="_blank">Download mijn CV nu!</a>
  </div>
</section>


<br>





